<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SwapShop{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        {% if current_user.is_authenticated %}
            <p>Welcome, {{ current_user.username }}</p>
        {% endif %}
        <ul>
            <a href="{{ url_for('logout') }}">Logout</a>
            <!-- Add more items as needed -->
        </ul>
    </nav>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
