<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
</head>

<body>
    <div class="container">
        {% if current_user.is_authenticated %}
            <!-- User is logged in, display options for Thrifty Owl and Swap Shop -->
            <h1>Welcome, {{ current_user.username }}!</h1>
            <h2>Please select inventory</h2>
            <a class="btn" href="{{ url_for('dashboard') }}">Thrifty Owl</a><br>
            <a class="btn" href="{{ url_for('swapshopbase') }}">Swap Shop</a><br>
            <a class="btn" href="{{ url_for('logout') }}">Logout</a><br> <!-- Add logout option -->
        {% else %}
            <!-- User is not logged in, display the login and register links -->
            <h1>Log in to access inventory</h1>
            <a class="btn" href="{{ url_for('login') }}">Login Page</a><br>
            <a class="btn" href="{{ url_for('register') }}">Register Page</a><br>
        {% endif %}
    </div>
</body>

</html>
