<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
</head>

<body>
    <div class="container">
        {% if current_user.is_authenticated %}
            <h1>Welcome, {{ current_user.username }}!</h1>
            <h2>Please select inventory</h2>
            <a class="btn" href="{{ url_for('dashboard') }}">ThriftyOwl</a><br>
            <a class="btn" href="{{ url_for('swapshopbase') }}">SwapShop</a><br>
        {% else %}
            <h1>Login Authentication System in Flask.</h1>
            <a class="btn" href="{{ url_for('login') }}">Login</a><br>
            <a class="btn" href="{{ url_for('register') }}">Register</a><br>
        {% endif %}
    </div>
</body>

</html>