<!DOCTYPE html>
<html>
<head>
    <title>Enter Code</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#passwordField').hide();
            $('#submitBtn').prop('disabled', true);
            $('#codeField').on('input', function() {
                if ($(this).val().length == 5) {
                    $.ajax({
                        url: '/verify_code',
                        method: 'POST',
                        data: { code: $(this).val() },
                        success: function(response) {
                            if (response.code_valid) {
                                $('#passwordField').show();
                                $('#submitBtn').prop('disabled', false);
                            } else {
                                $('#passwordField').hide();
                                $('#submitBtn').prop('disabled', true);
                            }
                        }
                    });
                } else {
                    $('#passwordField').hide();
                    $('#submitBtn').prop('disabled', true);
                }
            });
        });
    </script>
</head>
<body>
    <h1>Enter Code</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.code.label }} {{ form.code(id='codeField') }}
        <div id="passwordField">
            {{ form.password.label }} {{ form.password() }}
        </div>
        <input type="submit" value="Submit" id="submitBtn">
    </form>
</body>
</html>