<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <h1> Log In Authentication</h1>
    <body>'
        <a href="{{url_for('login')}}"> Thrifty Owl Login</a>
        <a href="{{url_for('register')}}"> Thrifty Owl Register</a>
        <a href="{{url_for('swaplogin')}}"> Swap Shop Login</a>
        <a href="{{url_for('swapregister')}}"> Swap Shop Register</a>
    </body>
</html>